<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            var json = {
                title:"Test Game One",
                body:"This is the body"
            };
            $.ajax({
                type: "POST",
                url: 'http://localhost:3000/api/v1/games',
                data: json,
                success: function(data){
                    alert(data);
                }
            });
        </script>
    </head>
    <body>
        <div></div>
    </body>
</html>